# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Local models (LLMs)
models/
*.gguf


# Streamlit
.streamlit/

# OS files
.DS_Store

# Logs
*.log

# Environment variables
.env
